@model IEnumerable<VaktiHazar.CustomFormApplication.Entities.Concrete.Form>

@{
    ViewBag.Title = "Form Listesi";
}

<h2>Form Listesi</h2>

<p>
    @Html.ActionLink("Yeni", "AddForm", "Form")
</p>
<table class="table">
    <tr>
        <th style="display:none">
            @Html.DisplayNameFor(model => model.FormId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FormName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FormDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FormCreatedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FormCreatedUser)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td style="display:none">
                @Html.DisplayFor(modelItem => item.FormId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FormName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FormDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FormCreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FormCreatedUser)
            </td>
            <td>
                @Html.ActionLink("Düzenle", "AddForm", new { id = item.FormId }) |
                @Html.ActionLink("Detay", "FormDetails", new { id = item.FormId }) |
                @Html.ActionLink("Sil", "DeleteForm", new { id = item.FormId })
            </td>
        </tr>
    }

</table>
